body    {
    font-family: 'Oswald', sans-serif;
    margin: 0px;
    background-color: #21272F;
    font-size: x-large;
}

#flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    background-color: #21272F;
    color: white;
    position: fixed;
    width: 100%;
    box-shadow: 0px 2px 10px black;
}

.logo   {
    font-weight: 400px;
    margin: 0px;
    padding-left: 70px;;
    color: #00C196;
}

#nav-links {
    display: flex;
    justify-content: space-around;
    column-gap: 50%;
    padding: 0px 100px;
}

#nav-links > a  {
    text-decoration: none;
    color: white;
    font-weight: 300px;
}

#nav-links > a:active {
    color: #00C196;
}

#nav-links > a:visited {
    color: white;
  }

#nav-links > a:hover {
    color: #00C196;
}

#quote {
    padding-right: 70px;
    color: grey;
}

#jumbotron {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    background-color: #21272F;
    color: white;
}

#jumbo-left {
    padding-left: 70px;
    width: 80%;
}

#jumbo-right {
    padding-right: 70px;
    width: 70%;
}

#jumbo-right > img {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* button animation */
#connect-button {
    /* background-color: #1c87c9; */
    -webkit-border-radius: 60px;
    border-radius: 60px;
    border: none;
    color: #eeeeee;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 20px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
}
@keyframes glowing {
    0% {
    background-color: #00C196;
    box-shadow: 0 0 2px #00C196;
    }
    50% {
    background-color: #32ddb8;
    box-shadow: 0 0 6px #32ddb8;
    }
    100% {
    background-color: #00C196;
    box-shadow: 0 0 6px #00C196;
    }
}
#connect-button {
    animation: glowing 1600ms infinite;
}

#what  {
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    padding-right: 70px;
    background-color: #171C23;
    color: white;
    padding-bottom: 40px;
}

#services1 > h1 {
    margin-top: 0px;
}

#services1 > h2 {
    font-size: smaller;
    margin-bottom: 0px;
}

#services2  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    column-gap: 20px;
}

.card   {
    /* border: 1px solid red; */
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    background-color: #21272F;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.card > i   {
    color: #00C196;
}

#projects   {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #21272F;
    color: white;
    font-size: 20px;
    padding-bottom: 40px;
}

#projects > h1 {
    margin-bottom: 0px;
}

#projects > p   {
    font-weight: 300;
    text-align: center;
    width: 50%;
}

#project-1  {
    padding-top: 20px;
}

#project-1 > img  {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #171C23;
}

#footer > ul    {
    list-style-type: none;
    font-weight: 300;
    font-style: italic;
    color: white;
}

#footer > p {
    font-weight: 300;
    font-style: italic;
    color: white;
}

/* responsive design tablets :) */
@media only screen and (max-width: 900px) {
    .logo   {
        padding-left: 0px;
    }
    
    #flex-container {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        padding: 40px 0px;
        background-color: #21272F;
        color: white;
        row-gap: 10px;
    }

    #quote {
        padding-right: 0px;
    }
    
    #jumbotron {
        flex-direction: column;
        justify-content: center;
        align-items:center;
        background-color:s #21272F;
        color: white;
        padding-top: 260px;
        text-align: center;
    }

    #jumbo-left {
        padding-left: 0px;
        width: 80%;
    }
    
    #jumbo-right {
        padding-right: 0px;
        width: 70%;
    }

    #icons  {
        justify-content: center;
        align-items: center;
    }

    #services2  {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
    }

    .card   {
        text-align: center;
        font-size: 20px;
        font-weight: 300;
        background-color: #21272F;
        border-radius: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        width: 70%;
    }
    
  }

/* responsive design phones */
@media only screen and (max-width: 500px) {
    body    {
        font-size: 18px;
    }
    #flex-container {
        height: 20px;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        padding: 60px 0px;
        color: white;
        row-gap: 20px;
        font-size: 20px;
    }

    #nav-links {
        justify-content: center;
        column-gap: 20%;
        padding: 0px 60px;
    }

    #quote  {
        display: none;
    }

    #jumbotron {
        padding-top: 160px;
    }

    #footer {
        font-size: 10px;
        justify-content: space-around;
        align-items: center;
        background-color: #171C23;
    }
}
